
$color-border: $color-gray-dark;

.team-nav {
  background-color: $color-black;

  @media (min-width: $screen-sm-min) {
    border-top: 1px solid $color-border;
  }

  .nav {
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;

    li {
      border-bottom: 1px solid $color-border;
      position: relative;

      @media (min-width: $screen-sm-min) {
        // border-bottom: none;
        &:after {
          display: block;
          content: '';
          @include size(100%, 3px);
          left: 0;
          bottom: -3px;
          position: absolute;
          // background-color: $color-border;
          background-color: transparent;
          transition: all .3s ease-in-out;
        }
      }

      &:last-of-type {
        @media (min-width: $screen-sm-min) {
          a {
            border-right: 0;
          }
        }
      }

      &.active {
        > a {
          color: #fff;
          background-color: transparent;
        }

        &:after {
          background-color: $color-lime;
        }
      }

      a {
        border-radius: 0;
        color: #6a6e71;
        font-size: 14px;
        font-weight: 700;
        font-family: $headings-font-family;
        padding: $base-spacing $small-spacing;
        transition: color 0.3s ease;
        letter-spacing: .025em;
        text-transform: lowercase;

        @media (min-width: $screen-sm-min) {
          border-right: 1px solid $color-border;
        }

        &:hover {
          background-color: transparent;
          color: $color-white;
        }
      }
    }
  }
}

.nav-justified > li > a,
.nav-tabs.nav-justified > li > a {
  margin-bottom: 0;
}