.box-score {
  color: $color-gray;

  &.table {
    thead {
      th {
        border-color: $color-gray;
      }
    }

    th,
    td {
      font-weight: normal;
      padding: ($small-spacing / 2) $small-spacing;

      &:last-of-type {
        font-weight: 700;
        color: $color-gray-dark;
      }
    }

    th {
      text-align: center;

      &:first-child {
        font-family: $headings-font-family;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
      }
    }

    tbody {
      border-bottom: 1px solid $color-gray;

      th {
        border-top: 0;
      }

      td {
        text-align: center;
      }
    }
  }
}


.boxscore__progress {
  // float: left;
  width: 100%;
  margin-bottom: $small-spacing;
  position: relative;
  // padding: 3px 20px 3px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  &:last-child {
    margin-bottom: 0;
  }

  &--away {
    order: 1;
    .progress .progress-bar {
      background-color: $color-milwaukee-primary;
    }
  }

  &--home {
    order: 3;
    .progress .progress-bar {
      background-color: $color-chicago-primary;
    }
  }


  &--wrap {
    width: 25%;
  }

  &--label,
  &--percent {
    // top: 50%;
    width: 24px;
    font-size: 12px;
    line-height: 1;
    // position: absolute;
    // margin-top: -($small-spacing / 2);
  }
  &--label {
    // left: 0;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: $small-spacing / 2;
  }
  &--percent {
    margin-left: $small-spacing / 2;
    // right: 0;
  }


  .progress {
    margin-bottom: 0;
    // float: left;
    width: 65%;
    // height: $small-spacing / 2;
    height: $small-spacing;
    border-radius: 0;
    box-shadow: none;
    background-color: $color-gray-lite;
    // background-color: #ebf0f6;
    .progress-bar {
      font-size: 10px;
      line-height: $small-spacing;
      text-align: right;
      padding-right: $small-spacing / 2;
    }
  }
}