

// Standings
.nav-tabs {
  border-bottom: 0;
  margin-bottom: 16px;

  > li {
    width: 50%;
    text-align: center;
    margin-bottom: 0;

    &.active {
      > a {
        color: $color-gray-dark;
        border: 0;
        background: transparent;
        border-bottom: 2px solid $color-lime;

        &:hover,
        &:focus {
          border: 0;
          background: transparent;
          color: $color-gray-dark;
          border-bottom: 2px solid $color-lime;
        }
      }
    }

    > a {
      font-size: 14px;
      font-family: $headings-font-family;
      border: 0;
      font-weight: 500;
      color: $color-gray-lite;
      border-bottom: 2px solid $color-gray-lite;
      margin-right: 0;
      border-radius: 0;
      transition: all .3s ease-in-out;

      &:hover,
      &:focus {
        border: 0;
        border-bottom: 2px solid;
        background-color: transparent;
      }

      &:hover {
        color: $color-gray;
        border-bottom-color: $color-olive;
      }
    }
  }
}

.standings {
  margin-bottom: 0;

  &__conference {
    tr {
      &:nth-of-type(8) {
        border-bottom: 2px solid $color-gray;
      }
    }
  }


  th {
    text-transform: uppercase;
    color: $color-black;

    &:first-of-type {
      padding-left: $small-spacing;
    }
  }

  th,
  td {
    text-align: center;

    &:first-of-type {
      text-align: left;
    }
  }
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid $color-gray-lite;
}

.table > tbody > tr > td,
.table > tbody > tr > td a {
  border-top: 0;
  vertical-align: middle;
  color: $color-gray;
}

.table > tbody > tr > td a:hover {
  color: $color-olive;
}

.table > tbody > tr.standings__active-team > td,
.table > tbody > tr.standings__active-team > td a {
    color: $color-gray-dark;
    font-weight: 700;
  }

.standings__team--logo {
  @include size(36px, $base-spacing);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;

  img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
}

.standings__team--name {
  display: inline;
  vertical-align: middle;
}