.game-result {

  $score-win-indicator-size: 16px;

  overflow: hidden;
  position: relative;

  &__meta {
    display: none;

    @media (min-width: $screen-xs-min) {
      display: flex;
      // justify-content: space-between;
      margin-bottom: $base-spacing + $small-spacing;
      border-top: 1px solid $color-olive;
      font-size: 12px;
      border-bottom: 1px solid $color-olive;
      color: $color-gray;
    }

    @media (min-width: $screen-sm-min) {
      font-size: 14px;
    }

    span {
      padding: $small-spacing / 2;
      width: 33%;
    }

    &--venue {
      font-weight: 500;
      color: $color-olive;
    }
  }

  &__flex-row {
    width: 100%;
    margin-bottom: $base-spacing;// temp

    @media (min-width: $screen-sm-min) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__team {
    display: flex;
    justify-content: space-between;

    @media (min-width: $screen-sm-min) {
      width: calc(50% - 12px);
    }

    &--wrap {
      display: flex;
    }

    &--away {
      @media (max-width: $screen-xs-max) {
        margin-bottom: $small-spacing;
        padding-bottom: $small-spacing;
        border-bottom: 1px solid $color-gray-lite;
      }

      @media (min-width: $screen-sm-min) {
        .game-result__team--wrap {
          flex-direction: row;
        }
      }
    }

    &--home {
      @media (min-width: $screen-sm-min) {
        flex-direction: row-reverse;

        .game-result__score--result--winner {
          margin-left: 0;
          margin-right: $base-spacing;

          &::before {
            left: auto;
            border-left: 0;
            right: -$score-win-indicator-size;
            border-right: ($score-win-indicator-size / 2) solid $color-lime;
          }
        }

        .game-result__team--wrap {
          flex-direction: row-reverse;
        }

        .game-result__team--logo {
          margin-right: 0;
          margin-left: $small-spacing;
        }

        .game-result__team--info {
          text-align: right;
        }
      }
    }

    &--logo {
      @include square(48px);
      align-self: center;
      margin-right: $small-spacing;
      display: flex;

      @media (min-width: $screen-xs-min) {
        @include square(64px);
      }

      @media (min-width: $screen-lg-min) {
        // @include square(100px);
        width: 95px;
        height: 80px;
      }

      img {
        position: relative;
        display: block;
        margin: auto;
        align-self: center;
        max-width: 100%;
        max-height: 100%;
        height: auto;
      }
    }

    &--info {
      align-self: center;
    }

    h5 {
      margin: 0;

      span {
        display: block;
        line-height: 1.2;
      }

      .game-result__team--city {
        font-size: 14px;
        color: $color-gray-dark;
        text-transform: uppercase;
      }

      .game-result__team--name {
        font-size: 24px;
        color: $color-black;
        text-transform: lowercase;
      }
    }

    &--desc {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;
      color: $color-gray;
    }
  }

  &__score {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: 24px;
    font-family: $headings-font-family;

    @media (min-width: $screen-xs-min) {
      font-size: 30px;
    }

    @media (min-width: $screen-md-min) {
      font-size: 36px;
    }

    @media (min-width: $screen-lg-min) {
      font-size: 42px;
      line-height: 1;
    }

    &--wrap {
      display: none;

      @media (min-width: $screen-sm-min) {
        display: block;
        align-self: center;
        text-align: center;
      }
    }

    &--result {
      position: relative;
      align-self: center;

      &--winner {
        margin-left: $base-spacing;

        &::before {
          content: "";
          display: block;
          position: absolute;
          left: -$score-win-indicator-size;
          top: 50%;
          width: 0;
          height: 0;
          border-left: ($score-win-indicator-size / 2) solid $color-lime;
          border-top: ($score-win-indicator-size / 2) solid transparent;
          border-bottom: ($score-win-indicator-size / 2) solid transparent;
          margin-top: -($score-win-indicator-size / 2);
        }
      }

      &--loser {
        color: $color-gray;
      }
    }
  }

  .box-score {
    order: 2;
    margin: 0 $base-spacing;
    max-width: 300px;
    width: 50%;
  }
}