.news-lg {
	margin-bottom: $base-spacing;

  figure {
		position: relative;
		border-bottom: 4px solid $color-lime;

    a {
			cursor: pointer;
      position: relative;
      overflow: hidden;

      img {
				border-top-right-radius: $border-radius-base;
				border-top-left-radius: $border-radius-base;
        height: auto;
        max-width: 100%;
      }
    }
  }

  time {
    display: inline-block;
    text-transform: uppercase;
    color: $color-black;
    background-color: $color-lime;
    font-size: 10px;
    line-height: 1;
    padding: $small-spacing / 2 $small-spacing;
    border-radius: $border-radius-base;
	}
	a {
		color: $color-black;
		&:hover {
			color: $color-lime;
		}
	}

	h3 {
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.25;
		margin-bottom: $base-spacing;
	}

	p {
		font-size: 16px;
		line-height: 1.7;
		&:last-of-type {
			margin-bottom: $base-spacing * 2;
		}
	}
}