$border-size: 3px;

.navbar-inverse {
  background-color: $color-black;
  border: 0;
  margin-bottom: 0;
  border-radius: 0;

  .navbar-toggle {
		@include square(50px);
    background-color: $color-lime;
    border-color: $color-lime;
		border-radius: 0;
    text-align: center;
    margin: 0 ($grid-gutter-width / 2) 0 0;
    transition: all 0.3s ease;
    padding: 0;

    .icon-bar {
      background-color: $color-black;
      width: $base-spacing;
      margin-left: auto;
      margin-right: auto;
    }

    &:focus {
      background-color: $color-olive;
      border-color: $color-olive;
    }

    &:hover {
      background-color: $color-olive;
      border-color: $color-olive;
    }
  }

  .nav > li > a {
    backface-visibility: hidden;
    color: $color-gray;
    font-family: $headings-font-family;
    font-size: 16px;
    font-weight: 700;
    transition: color 0.3s ease;
    letter-spacing: .025em;
    text-transform: lowercase;
    padding: 16px $base-spacing;

    @media (min-width: $screen-sm-min) {
      padding-bottom: (16px - $border-size);
      border-bottom: $border-size solid transparent;
    }
  }
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: $color-white;
  background-color: transparent;

  @media (min-width: $screen-sm-min) {
    border-color: $color-lime;
  }
}




