$logo-size: 20px;

.club-schedule {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  border-top: 1px solid $color-gray-lite;

  &__oponent {
    display: table;
    padding: $small-spacing;
    width: 100%;

    &--logo {
      @include square($logo-size);

      img {
        display: block;
        width: $logo-size;
      }
    }

    &--name {
      font-weight: 500;
      padding-left: $small-spacing / 2;
      width: 55%;
    }
  }

  &__oponent--name,
  &__oponent--logo,
  &__game {
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
    color: $color-gray;
  }

  &__game {
    text-align: right;

    &--result,
    &--score {
      display: inline-block;
      line-height: 1;
      font-weight: 700;
    }

    &--result {
      text-align: center;
      width: $small-spacing;

      &--loser {
        color: $brand-danger;
      }

      &--winner {
        color: $brand-success;
      }
    }

    &--score {
      width: 80px;
    }
  }
}


.list-group {
  margin-bottom: 0;
	&-item {
    display: table;
    // padding: $small-spacing;
		width: 100%;
		border-radius: 0;
		border: 0;
		border-top: 1px solid $color-gray-lite;
		border-bottom: 1px solid $color-gray-lite;
		&:first-child {
			border-radius: 0;
		}
		&:last-child {
			border-radius: 0;
		}
	}
}