.card {
  $psudo-border: $border-radius-base / 2;
  border-radius: $border-radius-base;
  background-color: $color-white;
  margin-bottom: $base-spacing;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  &__header {
    padding: $small-spacing $base-spacing;
    border-radius: $border-radius-base $border-radius-base 0 0;
    position: relative;
    background-color: $color-black;
    border: 1px solid $color-black;
    overflow: hidden;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: $psudo-border;
      background-color: $color-lime;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -$psudo-border / 2;
    }

    > h3 {
      background-color: $color-black;
      font-size: 20px;
      font-weight: 700;
      color: $color-white;
      text-transform: lowercase;
      margin: 0;
      position: relative;
      letter-spacing: .025em;
      padding: 0 $small-spacing;
      display: inline-block;
    }
  }

  &__content {
    border: 1px solid $gray-light;
    border-top: 0;
    padding: $base-spacing;
  }
}
