// Page Sections
%page-section {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
}

.page-section {
  @extend %page-section;
  padding: 60px 0;

  @media (min-width: $screen-xs-min) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: $screen-sm-min) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media (min-width: $screen-md-min) {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
.small-section {
  @extend %page-section;
  padding: 30px 0;

  @media (min-width: $screen-xs-min) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $screen-sm-min) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}