
//colors
$color-black: #222629;
$color-gray-lite: #ddd;
$color-gray: #6a6e71;
$color-gray-dark: #474A4F;
$color-white: #fff;
$color-lime: #87c232;
$color-olive: #618930;

$color-milwaukee-primary: #00471B;
$color-milwaukee-secondary: #EEE1C6;
$color-chicago-primary: #CE1141;
$color-chicago-secondary: #000000;


//fonts
$grid-gutter: 15px;
$base-spacing: 24px;
$small-spacing: $base-spacing / 2;